PORT=5000
SUPABASE_URL="https://qcjabkrksncevuljzwnl.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjamFia3Jrc25jZXZ1bGp6d25sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxOTc4MDMsImV4cCI6MjEwMzc3MzgwM30.HVlzjJ_3JUia-QSJr05C-osTCBiAR448XAqWCZOOq1A"
GEMINI_API_KEY=VITE_GEMINI_API_KEY
